*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:"Lucida Sans", Arial, sans-serif;
background:#F8F3E1;
color:#41431B;
line-height:1.6;
}

/* HEADER */

header{
background:#41431B url('imagenes/lima-desktop.jpg');
background-size: cover;
background-position: center;
color:white;
padding:300px;
text-align:center;
}

/* MENU */

nav{
background:#AEB784;
display:flex;
justify-content:center;
flex-wrap:wrap;
}

nav a{
text-decoration:none;
color:#41431B;
padding:15px 25px;
font-weight:bold;
transition:0.4s;
position:relative;
}

/* animación menú */

nav a:hover{
background:#41431B;
color:#F8F3E1;
transform:scale(1.08);
}

/* CONTENEDOR */

.contenido{
padding:25px;
max-width:1200px;
margin:auto;
}

/* NOTICIAS */

.noticias{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:25px;
margin-top:20px;
}

article{
background:white;
padding:18px;
border-radius:6px;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
transition:0.3s;
}

article:hover{
transform:translateY(-5px);
}

article img{
width:100%;
border-radius:5px;
margin-bottom:10px;
}

article h3{
margin-bottom:10px;
color:#41431B;
}

/* SLIDER */

.slider{
width:100%;
height:320px;
overflow:hidden;
margin-bottom:25px;
}

.slider ul{
display:flex;
width:400%;
animation:cambio 16s infinite alternate;
}

.slider li{
width:100%;
list-style:none;
}

.slider img{
width:100%;
height:320px;
object-fit:cover;
}

@keyframes cambio{

0%{margin-left:0;}
20%{margin-left:0;}

25%{margin-left:-100%;}
45%{margin-left:-100%;}

50%{margin-left:-200%;}
70%{margin-left:-200%;}

75%{margin-left:-300%;}
100%{margin-left:-300%;}

}

/* FORMULARIO */

form{
max-width:500px;
margin:auto;
background:white;
padding:25px;
border-radius:5px;
}

input, textarea{
width:100%;
padding:10px;
margin-top:5px;
margin-bottom:15px;
border:1px solid #AEB784;
}

button{
background:#41431B;
color:white;
border:none;
padding:12px;
cursor:pointer;
width:100%;
}

button:hover{
background:#AEB784;
color:#41431B;
}

/* FOOTER */

footer{
background:#41431B;
color:white;
text-align:center;
padding:20px;
margin-top:30px;
}

/* RESPONSIVE */

@media(max-width:768px){

nav{
flex-direction:column;
align-items:center;
}

.slider{
height:220px;
}

.slider img{
height:220px;
}

}